@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Bumbbled";
  src: url("/fonts/Bumbbled.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lumen";
  src: url("/fonts/Lumen.ttf");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}


:root {
  font-family: 'Inter', sans-serif;
  --preview-bg: #17171c;
  --preview-text: #fafaee;
  --line-bg: #9ca3af;
  --line-fg: white;
}


.dark {
  --line-bg: #ebebeb;
  --line-fg: #17171c;
  --preview-bg: #fafaee;
  --preview-text: #17171c;
}

html.dark {
  background-color: #17171c;
  color: #fafaee;
}

html {
  background-color: #fafaee;
  color: #17171c;
  scroll-behavior: smooth;
  margin: 0;
  width: 100%;
  height: 100%;
}

.dark .nav-links a {
  color: #fafaee;
}


::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="0" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>') top left / 0 no-repeat;
  mask-origin: content-box;
  animation: scale 1s;
  transform-origin: top left;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: scale 1s;
  transform-origin: top left;
  z-index: -1;
}

@keyframes scale {
  to {
    mask-size: 350vmax;
  }
}

.link-preview-card {
  position: absolute;
  bottom: 100%;
  left: 100%;
  z-index: 10;
  background-color: var(--preview-bg);
  color: var(--preview-text);
  padding: 1rem;
  max-width: 25rem;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 0.5rem;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
  transform: translateY(5px);
  opacity: 0;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.link-preview img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  position: relative;
  object-fit: scale-down !important;
}

.company-link:hover .link-preview-card {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.prose img {
  width: 100%;
  border-radius: 10px;
}