---
import IndexPopover from "@components/IndexPopover.astro";
import Layout from "@layouts/Layout.astro";
import Experience from "@components/Experience.astro";
import Publications from "@components/Publications.astro";
---

<!-- 
  For accessibility, we use <main> to identify the primary content area.
  We also add "aria-hidden" for the decorative big text so it doesn't get announced by screen readers.
-->
<Layout>
  <IndexPopover
    links={[
      { href: "#experience", label: "Experience" },
      { href: "#publications", label: "Publications" },
    ]}
  />
  <main class="relative flex flex-col items-center justify-center p-4">
    <section class="relative z-10 max-w-2xl mx-auto text-center mt-[25vh]">
      <h2 class="text-7xl mb-4 text-current">
        <span
          class="inline-block
           pl-[0.05em]
                overflow-visible
                text-transparent
                bg-clip-text
                bg-gradient-to-r
              from-[#ff5e3a]
              via-[#ffcd02]
              via-[#4cd964]
              to-[#34aadc]
              font-[Bumbbled]
              leading-none"
          >hello</span
        >, I'm Daniel Villalobos
      </h2>
      <p class="text-lg text-current font-light">
        Spaniard Software Engineer building neat things on the web.
      </p>
    </section>
    <Experience />
    <Publications />
  </main>
</Layout>

<script is:inline>
  const toggleExpand = (id) => {
    const content = document.getElementById(`exp-${id}`);
    if (content) {
      content.classList.toggle("hidden");
    }
  };
</script>
