---
import Experience from "@components/Experience.astro";
import IndexPopover from "@components/IndexPopover.astro";
import Projects from "@components/Projects.astro";
import Publications from "@components/Publications.astro";
import Layout from "@layouts/Layout.astro";
---

<!-- 
  For accessibility, we use <main> to identify the primary content area.
  We also add "aria-hidden" for the decorative big text so it doesn't get announced by screen readers.
-->
<html>
  <Layout>
    <IndexPopover
      links={[
        { href: "#experience", label: "Experience" },
        { href: "#publications", label: "Publications" },
        { href: "#projects", label: "Projects" },
      ]}
    />
    <main class="relative flex flex-col items-center justify-center p-4">
      <section
        class="relative z-10 max-w-screen md:max-w-2xl mx-auto text-center mt-[5vh] md:mt-[25vh]"
      >
        <h2 class="text-7xl mb-4 text-current font-extralight">
          <span
            class="inline-block
           pl-[0.05em]
                overflow-visible
                text-transparent
                bg-clip-text
                bg-gradient-to-r
              from-[#ff5e3a]
              via-[#ffcd02]
              via-[#4cd964]
              to-[#34aadc]
              font-[Bumbbled]
              leading-none"
            >hello</span
          >, I'm Daniel Villalobos
        </h2>
        <p class="text-lg text-current font-light">
          Spaniard Software Engineer building neat things on the web.
        </p>
        <div class="flex flex-row justify-center gap-8 mt-4">
          <a
            href="https://www.linkedin.com/in/ponytojas/"
            target="_blank"
            class="flex flex-col w-auto h-auto rounded-xl bg-[#0a63bc] hover:bg-[#042649] p-3 cursor-pointer shadow-md hover:shadow-2xl transition-all ease-in-out"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#fafafa"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-linkedin"
              ><path
                d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
              ></path><rect width="4" height="12" x="2" y="9"></rect><circle
                cx="4"
                cy="4"
                r="2"></circle></svg
            >
          </a>
          <a
            href="mailto:daniel.villalobosdel@icloud.com?subject=Let's%20talk&body=I've%20access%20from%20your%20personal%20website%20and%20want%20to%20talk%20with%20you!"
            target="_blank"
            class="flex flex-col w-auto h-auto rounded-xl bg-[#eb4034] hover:bg-[#74120b] p-3 cursor-pointer shadow-md hover:shadow-2xl transition-all ease-in-out"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#fafafa"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-mail"
              ><rect width="20" height="16" x="2" y="4" rx="2"></rect><path
                d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path></svg
            >
          </a>
          <a
            href="https://www.github.com/ponytojas"
            target="_blank"
            class="flex flex-col w-auto h-auto rounded-xl bg-[#484855] hover:bg-[##484855] p-3 cursor-pointer shadow-md hover:shadow-2xl transition-all ease-in-out"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#fafafa"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-github-icon lucide-github"
              ><path
                d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
              ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
            >
          </a>
        </div>
      </section>
      <Experience />
      <Publications />
      <Projects />
    </main>
  </Layout>
</html>
