---
import ThemeToggle from "@components/ThemeToggle.astro";
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/fonts/inter/inter.css" />
    <link
      rel="preload"
      href="/fonts/Bumbbled.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <ClientRouter />

    <meta name="generator" content={Astro.generator} /><title>
      Daniel Villalobos - ponytojas
    </title>
  </head>
  <body class="relative min-h-screen">
    <div class="absolute top-5 right-5 z-10">
      <ThemeToggle />
    </div>

    <!-- Main content area with offset for navigation -->
    <main class="w-full pt-16 md:pt-0 pb-[10rem] px-4">
      <slot />
    </main>
  </body>
</html>
